<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tranlaste Text</title>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

</head>
<body>
    <form action = "text_result" method = "POST">
        <br><br>
        Enter the text That you want to translate:
        <input type="text" id="result" size="40" name = "result" /></br>
<br>

         <p><input type = "submit" value = "submit" /></p>
      </form>
    <div id="result_text">
        <p>{{result}}</p>
    </div>
<script>
const text = "{{result}}";
if(text.length > 0)
    responsiveVoice.speak(text, "Hindi Female");
</script>
</body>
</html>
-->

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

    <title>Tranlaste Text</title>
    <script src='https://code.responsivevoice.org/responsivevoice.js'></script>

  </head>
  <body>

      <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand">Language Translator</a>

      </div>
    </nav>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>
    -->
    <br><br><br>
      <div class="container px-4">
          <div class="row gx-5">
            <div class="col">
             <div class="p-3 border bg-light">
                 <form name="myForm" action = "text_result" method = "POST">
                     <textarea type="text" id="result" class="form-control" placeholder="Enter the text in English" rows="6" name = "result" ></textarea></br>
                    <br>
                 <p><img src="/static/microphone_icon.png" style="width:40px;height:40px;" id="audio_inp"/></p>
                 <p id="listen"></p>
                 <p><input type = "submit" id="translate" class="btn btn-primary" value = "Translate" /></p>
                </form>
             </div>
            </div>
            <div class="col">
              <div class="p-3 border bg-light" id="result_text">
                <p>Hindi Translation of Your text</p><br>
                  <p>{{result}}</p>
              </div>
            </div>
          </div>
    </div>

<script>
const text = "{{result}}";
if(text.length > 0)
    responsiveVoice.speak(text, "Hindi Female");
var SpeechRecognition = SpeechRecognition || webkitSpeechRecognition
var SpeechGrammarList = SpeechGrammarList || webkitSpeechGrammarList
var SpeechRecognitionEvent = SpeechRecognitionEvent || webkitSpeechRecognitionEvent
var grammar = '#JSGF V1.0;'

var recognition = new SpeechRecognition();
var speechRecognitionList = new SpeechGrammarList();
speechRecognitionList.addFromString(grammar, 1);
recognition.grammars = speechRecognitionList;
recognition.continuous = false;
recognition.lang = 'en-US';
recognition.interimResults = false;
recognition.maxAlternatives = 1;
    
var diagnostic = document.getElementById("result");

document.getElementById("audio_inp").onclick = function() {
recognition.start();
    document.getElementById("listen").innerHTML = "listening...";
/*navigator.permissions.query(
    // { name: 'camera' }
    { name: 'microphone' }
    // { name: 'geolocation' }
    // { name: 'notifications' } 
    // { name: 'midi', sysex: false }
    // { name: 'midi', sysex: true }
    // { name: 'push', userVisibleOnly: true }
    // { name: 'push' } // without userVisibleOnly isn't supported in chrome M45, yet
).then(function(permissionStatus){

    console.log(permissionStatus.state); // granted, denied, prompt

    permissionStatus.onchange = function(){
        console.log("Permission changed to " + this.state);
    }

})*/
console.log('Ready to receive a color command.');
}
    
recognition.onresult = function(event) {
// The SpeechRecognitionEvent results property returns a SpeechRecognitionResultList object
// The SpeechRecognitionResultList object contains SpeechRecognitionResult objects.
// It has a getter so it can be accessed like an array
// The first [0] returns the SpeechRecognitionResult at the last position.
// Each SpeechRecognitionResult object contains SpeechRecognitionAlternative objects that contain individual results.
// These also have getters so they can be accessed like arrays.
// The second [0] returns the SpeechRecognitionAlternative at position 0.
// We then return the transcript property of the SpeechRecognitionAlternative object
var recorded_text = event.results[0][0].transcript;
diagnostic.textContent = recorded_text;
console.log('Confidence: ' + event.results[0][0].confidence);
}

recognition.onspeechend = function() {
recognition.stop();
document.getElementById("listen").innerHTML = "";
//document.getElementById('translate').click();
}

recognition.onnomatch = function(event) {
diagnostic.textContent = "I didn't recognise that color.";
}

recognition.onerror = function(event) {
diagnostic.textContent = 'Error occurred in recognition: ' + event.error;
}
</script>

  </body>
</html>
